<div class="nav">
    <nav class="nav-nav">
        <div class="logo">
            <a class="" href="#">Shopify</a>
        </div>
        <div class="">
            <div class="searchbar">
                <input type="text" class="input" [formControl]="search" placeholder="Search products...">
            </div>
        </div>
        <div class="demo-section">

            <mat-icon matBadge="15" matBadgeColor="warn" class="">shopping_cart</mat-icon>


        </div>
        <button class="btn" (click)="Logout()">Logout</button>
    </nav>
</div>